<!DOCTYPE html>
<html lang="en">
    <head>
        {% block pagehead %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
            <meta name="description" content="">
            <meta name="author" content="">
            <link rel="icon" href="{{ asset("favicon.ico") }}">

            <title> {% block pagetitle %} Cryptomaze {% endblock %} </title>

            {% block stylesheet %}
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
                <link href="{{ asset("assets/css/custom.css") }}" rel="stylesheet">
            {% endblock %}
        {% endblock %}
    </head>

    <body>
        {% block pagebody %}
            {% block navigation %}
                <!-- Fixed navbar -->
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ path("cryptomaze_homepage") }}">Cryptomaze</a>
                        </div>
                        <div id="navbar" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="{{ path("cryptomaze_encode") }}">Encode</a>
                                </li>
                                <li>
                                    <a href="{{ path("cryptomaze_decode") }}">Decode</a>
                                </li>
                                <li>
                                    <a href="{{ path("cryptomaze_contact") }}">Contact</a>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
            {% endblock %}

            <div class="container">
                {% block content %}
                {% endblock %}
            </div> <!-- /container -->

            {% block footer %}
                <footer class="footer">
                    <div class="container">
                        <p class="text-muted">
                            Copyright &copy; 2014 Lucas Trentim Navarro de Almeida. Code licensed <a href="#" data-toggle="modal" data-target="#licenseModal">MIT</a>.
                            <span class="pull-right">
                                <a href="https://www.facebook.com/lucas.trentim"><i class="fa fa-facebook-official" aria-hidden="true"></i></a> |
                                <a href="https://www.linkedin.com/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> |
                                <a href="https://bitbucket.org/lucastrentim"><i class="fa fa-bitbucket" aria-hidden="true"></i></a> |
                                <a href="https://github.com/lucastrentim"><i class="fa fa-github-square" aria-hidden="true"></i></a> |
                                <a href="https://google.com/+LucasTrentim"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </span>
                        </p>
                    </div>
                </footer>
            {% endblock %}
        {% endblock %}

        {% block modal %}
            <div class="modal fade" id="licenseModal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h2 class="modal-title">MIT License</h2>
                        </div>
                        <div class="modal-body">
                            <p>Copyright (c) 2014 Lucas Trentim Navarro de Almeida</p>

                            <p>
                                Permission is hereby granted, free of charge, to any person obtaining a copy
                                of this software and associated documentation files (the "Software"), to deal
                                in the Software without restriction, including without limitation the rights
                                to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                                copies of the Software, and to permit persons to whom the Software is
                                furnished to do so, subject to the following conditions:
                            </p>

                            <p>
                                The above copyright notice and this permission notice shall be included in all
                                copies or substantial portions of the Software.
                            </p>

                            <p>
                                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                                FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                                AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                                LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                                OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
                                SOFTWARE.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endblock %}

        {% block javascript %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
