{% extends "::base.html.twig" %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            {% include "::error_box.html.twig" with {'error': error} %}

            <div class="row">
                {% if decodedText is not empty %}
                    <div class="col-md-12">
                        <h3>Your hidden message is...</h3>

                        <blockquote>{{ decodedText }}</blockquote>

                        <p>
                            Thanks for using my encoder! <a href="{{ path("cryptomaze_contact") }}">Let me know</a> what you think about it, if you have any suggestions,
                            critics or just want to say hi.
                        </p>

                    </div>
                {% else %}
                    <div class="col-md-6">
                        <h3>Decoding</h3>
                        <p>
                            To decode a file, supply your maze map and your image containing the encoded message on the form to the right.
                        </p>
                    </div>
                    <div class="col-md-6">
                        {{ form_start(form) }}

                        {{ form_row(form.image) }}
                        {{ form_row(form.map) }}
                        {{ form_row(form.send) }}

                        {{ form_end(form) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
