{% extends "::base.html.twig" %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            {% include "::error_box.html.twig" with {'error': error} %}

            <div class="row">
                {% if encodedInfo is not empty %}
                    <div class="col-md-6">
                        <h3>Done!</h3>
                        <p>
                            Your information was sucessfuly encoded! You will find your map (key) below, and the image containing your text to the right.
                            You may now download them to your computer and <a href="{{ path("cryptomaze_decode") }}">decode it</a> when needed.
                        </p>

                        <div class="text-center">
                            <h3>Your Map</h3>
                            <img id='map' class="img-thumbnail" src='data:image/png;base64,{{ encodedInfo.map }}'/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Your Image</h3>
                        <img id='image' class="img-thumbnail" src='data:image/png;base64,{{ encodedInfo.image }}'/>

                    </div>
                {% else %}
                    <div class="col-md-6">
                        <h3>Encoding</h3>
                        <p>
                            To encode a file, you can either supply an already existing map, or click the <span class="text-success">"Generate Maze"</span> button
                            below to generate a new one. You can also leave the maze image field empty, a new maze will be automatically
                            generated for you and will be provided along with your encrypted image.
                        </p>

                        <p>
                            Then enter the text and upload an image you want to encode your text on and click the <span class="text-danger">"Encode"</span> button.
                        </p>
                        <p>
                            <a class="btn btn-success" href="{{ path("cryptomaze_generate_maze") }}" target="_blank">Generate Maze</a>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Encoding Information</h3>

                        {{ form_start(form) }}

                        {{ form_row(form.image) }}
                        {{ form_row(form.map) }}

                        {{ form_row(form.text) }}

                        {{ form_row(form.send) }}

                        {{ form_end(form) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
