{% extends "::base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="page-header">
                <h1>Cryptomaze</h1>
            </div>

            <h3>About</h3>

            <p>
                This program was developed during my last year at college as a final project for the Information Systems
                Security module.
            </p>
            <p>
                It adds a nice twist to the <a href="https://en.wikipedia.org/wiki/Steganography">Steganography</a>
                technique by making it follow a unique pattern in the image: that of a maze.
            </p>
            <p>
                The encoded message can only be retrieved by using the original maze as a map, making it essentially
                impossible to decode a message without it.
            </p>

            <h3>A map?</h3>

            <p>
                The program generates mazes which are used as 'keys' to the encryption process. All generated mazes
                are images which have a black maze drawn on a white background, with a red dot marking where the encryption process
                starts.
            </p>

            <h3>Encoding</h3>

            <p>
                The encoding process consists on travelling the maze in a fixed pattern, while altering the image color's pixels
                on its path to encode the ASCII representation of the text to be encoded. Only the last bit of each color byte is
                altered, which makes it very hard to identify an 'encrypted' image, unless the image itself is completely
                monochromatic or contains large monochromatic patchs (large areas of the image where the color is exactly the same).
            </p>

            <h3>Decoding</h3>

            <p>
                The decoding process works essentially the same way, travelling the maze in the same fixed pattern,
                while reading the last bit of the image color's pixels on its path to build the bytes contaning the ASCII
                representation of the text to be encoded.
            </p>

            <hr>

            <p>
                <a href="{{ path("cryptomaze_encode") }}" class="btn btn-lg btn-primary">I wanna try!</a>
            </p>
        </div>
    </div>
{% endblock %}
